{% extends "layout.j2" %}

{% block content %}
<h2>Track search result</h2>

<div class="col-md-8 col-md-offset-2">
  <ul class="list-group">
    {% for track in tracks %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8">
            <span>{{ track.name }} - {{ track.artists[0].name }}</span>
          </div>
          <div class="col-md-2 col-md-offset-1">
            <form action="{{ request.route_url('playlist.add_track') }}" method="post">
              <input type="hidden" name="track_id" value="{{ track.id }}">
              <button type="submit" class="btn btn-default">Add to playlist</button>
            </form>
          </div>
        </div>
      </li>
    {% else %}
      <li class="list-group-item">No results found...</li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}

